.unchanged {
  display: none;
}

.comment {
  margin-bottom: 10px;
}

label {
  margin-top: 6px;
}

h1 {
  font-weight: bold;
}

h1 a:hover, h1 a:visited, h1 a:active, h1 a:link {
  text-decoration: none;
  color: black;
}

h3 a {
  font-weight: bold;
}

.leaflet-tile-pane {
  opacity: 0.7;
}

h3 .btn {
  color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.alert {
  margin-top: 10px;
}
