.unchanged {
  display: none;
}

h4 {
  margin-top: 30px;
}

table {
  margin-top: 10px;
}

label {
  margin-top: 6px;
}

h1 a, h1 a:hover, h1 a:visited, h1 a:active {
  text-decoration: none;
  color: black;
}
