.unchanged {
  display: none;
}

.comment {
  margin-bottom: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.auth-item {
  margin: 0 2px;
}

.spacer {
  font-weight: bold;
}

label {
  margin-top: 6px;
}

h1 {
  font-weight: bold;
}

h1 a:hover, h1 a:visited, h1 a:active, h1 a:link {
  text-decoration: none;
  color: black;
}

h3 a {
  font-weight: bold;
}

.leaflet-tile-pane {
  opacity: 0.7;
}

h3 .btn {
  color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
