.unchanged {
  display: none;
}

table {
  margin-top: 10px;
}

label {
  margin-top: 6px;
}

h1 a, h1 a:hover, h1 a:visited, h1 a:active {
  text-decoration: none;
  color: black;
}

h3 a {
  font-weight: bold;
}

.leaflet-tile-pane {
  opacity: 0.7;
}
